.gpt
{
    display: flex;
    justify-content: center;
}
.gptForm
{
    background-color: black;
    width: 50%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.gptInput
{
    padding: 8px;
    margin: 8px;
}
.search
{
    background-color: rgb(241, 76, 76);
    padding: 10px;
    margin: 7px;   
}